build*/
cmake-build-*/
src/birdtray.pro.user*

installer/uninstaller/*
installer/winDeploy/**
installer/nsisDependencies/**
installer/BirdTray-*.exe
installer/getArch.exe
installer/arch.nsh

.idea/*
!.idea/codeStyles
!.idea/runConfigurations
!.idea/dictionaries
