build*/
cmake-build-*/
CMakeLists.txt.user
src/birdtray.pro.user*
src/translations/*.qm

installer/uninstaller/*
installer/winDeploy/**
installer/nsisDependencies
installer/BirdTray-*.exe
installer/GetExeArch.exe
installer/makeUninstallList.exe
installer/makeTranslationsList.exe
installer/translations_list.nsh
installer/arch.nsh
installer/installerTranslations.nsi
installer/makeInstallerTranslations.exe

.idea/*
!.idea/codeStyles
!.idea/runConfigurations
!.idea/dictionaries
